{% extends "base.html" %}
{% block main %}
<form method="POST" action="/profile" enctype="multipart/form-data">
    <h1>This is your profile, and here are your details below:</h1>
        <label for="email">Email:</label>
            <input id="emailbox" name="email" value="{{session['user']['email']}}"></input>
              <br>
                <label for="username">Username:</label>
                    <input id="usernamebox" name="username" value="{{session['user']['username']}}"></input>
                </form>
{% endblock %}