
/* start of backgrounds */
.registerbg{
    background: url(https://images.wallpaperscraft.com/image/mountains_spruce_snow_190607_1920x1080.jpg)
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.loginpagebg{
    background: url(https://images.wallpaperscraft.com/image/spots_glitters_paint_190503_1280x720.jpg)
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
.homepage{
    background: url(https://images.wallpaperscraft.com/image/mountain_peak_trees_183964_1920x1080.jpg)
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.allimages{
    background: url(https://wallpapercave.com/wp/TfTdoPd.png)
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.editor{
    background: url(https://wallpapercave.com/wp/ebklaUn.jpg)
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#error404{
    background: url(../img/error404.jpg) no-repeat right center;
    height: calc(100vh - 56px);
    display: block;
    position: relative;
    background-size: 626px 626px;
} 
/* end of backgrounds */

/* text editing */ 
#error404 h1{
    font-size: 8rem;
    margin-top: 2rem;
}
#brand{
    position: relative;
    left: 50px;
    font-size: 25px;
}
#signup{
    position: relative;
    left: 8rem;
    top: 4rem;
    font-weight: 500;
    font-size: 25px;
    background-color: orange;
}
#brandhead{
    position: relative;
    top:-74.2rem;
    right: 32rem;
    color: white;
    font-weight: 450;
    font-size: larger;
}
#headertext{
    position: absolute;
    font-size: 80px;
    top: 8rem;
    left: 8rem;
    color: white;
    text-shadow: 2px 2px 8px #000000;
}
#paragraph{
    position: absolute;
    top: 16rem;
    left: 9rem;
    max-width: 500px;
    color: white;
    font-size: 25px;
    text-shadow: 3px 3px 12px black;
}
#warnings{
    color: red;
    font-size: large;
    font-weight: 1000;
    position: relative;
    right: 20rem;
}
#logwarnings{
    color: red;
    font-size: large;
    font-weight: 1000;
    position: relative;
    left: 20rem;
}
.logintext{
    position: relative;
    text-align: center;
    top: 5rem;
}
/* end of text edits */

/* button edits */
#submitbutton{
    position: absolute;
    top: 35rem;
    left: 40rem;
    border-radius: 8px;
    background-color: orange;
    font-size: larger;
    font-weight: 500;
    padding: 1.5rem 3rem 1.5rem 3rem;
}
#loginbutton{
    position: absolute;
    top: 35rem;
    left: 17.5rem;
    background-color: orange;
    font-size: x-large;
    font-weight: 500;
}
#loginbutton{
    position: absolute;
    top: 35rem;
    left: 17.5rem;
    background-color: orange;
    font-size: x-large;
    font-weight: 500;
}
/* end of button edits */

/* form edits */
#registerform{
    margin: left;
}
.forms{
    position: relative;
    right: 25rem;
}
#logregisterform{
    position: relative;
    left: 40rem;
    top: 5rem;
}
.logforms{
    position: absolute;
    left: 5rem;
    width: 30rem;
}
#emailbox{
    width: 20rem;
    position: absolute;
    left: 5rem;
    border: white;
}
#uploadform{
    position: absolute;
    left: 50rem;
    top: 10rem;
}
#fullprofileform{
    position: relative;
    width: 30rem;
    left: 10rem;
}
#sign-uphome{
    position: absolute;
    top: 42rem;
    left: 37rem;
}
#sign-up2{
    position: relative;
    left: 4rem;
    top: 4rem;
}
/* end of form edits */

/* image edits */
#photo1{
    border-radius: 50%;
    position: relative;
    left: 25rem;
    top: -45rem;
}
.grid-item{
    width: calc(33.3333% - 30px);
    float: left;
    margin-bottom: 30px;
}
.grid-item img{
    width: 100%;
    height: auto;
}
.avatar{
    position: relative;
    left: 20rem;
    top: -10rem;
    width: 300px;
    height: 300x;
    border-radius: 50%;
}
.imgboi{
    width: 300px;
    height: auto;
    align-content: center;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 10px;
}
.modal-body img{
  position: relative;  
  width: 100%;
  height: auto;
}
.grid-item{
    width: 300px;
    height: 300px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px
}
/* end of image edits */

/* dropdown menu edits */
.dropdown-item{
    color: white;
}
/* end of dropdown edits */
